# frozen_string_literal: true

require "rails_helper"

describe <%= class_name %>::Component do
  let(:options) { {} }
  let(:component) { described_class.new(**options) }

  it "renders the <%= class_name.to_s.downcase %> component correctly" do
    render_inline(component)
    is_expected.to have_css "div"
  end
end
