<div data-controller="alert--component" class="fixed w-5/6 mx-auto md:w-1/2 md:rounded md:shadow md:right-5 top-20 flex items-center gap-x-6 px-6 py-2.5 sm:px-3.5 sm:before:flex-1 <%= switch_bg_color %>">
  <p class="text-sm leading-6 text-white">
    <%= message %>
  </p>
  <div class="flex flex-1 justify-end">
    <button data-action="click->alert--component#remove" data-timer="1000" type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]">
      <span class="sr-only">Dismiss</span>
      <svg data-timer="1000" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
      </svg>
    </button>
  </div>
</div>
