<%- logo_path = current_admin.present? ? admin_root_path : current_user.present? ? authenticated_root_path : root_path %>

<%= link_to logo_path do %>
  <h1 class="text-xl font-mono">Boilerplate</h1>
<% end %>
