<div class="md:flex md:items-center md:justify-between mb-5 <%= custom_classes %>">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl font-bold leading-7 sm:truncate sm:text-3xl sm:tracking-tight"><%= title %></h2>
  </div>

  <%- if actions? %>
    <div class="mt-4 flex md:ml-4 md:mt-0">
      <% actions.each do |action| %>
        <%= action %>
      <% end %>
    </div>
  <% end %>
</div>
